@charset 'UTF-8';

.menu .menu_cake,
.menu .menu_other {
    margin-bottom: var(--section-gutter);
}

.menu .section_title {
    text-align: center;
    color: var(--main-color);
    font-family: var(--font-serif);
    font-size: var(--size-lg);
    font-weight: normal;
    margin-bottom: var(--contents-gutter);
}

.menu .menu_cake_text,
.menu .menu_other_text,
.menu .menu_drink_text {
    padding-left: var(--contents-side-gutter);
    padding-right: var(--contents-side-gutter);
    margin-bottom: var(--contents-gutter);
}

.menu figure {
    padding-left: var(--contents-side-gutter);
    padding-right: var(--contents-side-gutter);
    margin-bottom: calc(var(--gutter-base)*5);
}

.menu figure,
.menu figcaption {
    text-align: center;
    padding-top: var(--gutter-base);
}

@media screen and (min-width:960px) {

    .menu .section_title {
        font-size: var(--size-xl);
    }

    .menu .menu_cake_text,
    .menu .menu_other_text,
    .menu .menu_drink_text {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: var(--contents-gutter-pc);
    }

    .menu .cake_list,
    .menu .other_list,
    .menu .drink_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: calc(var(--gutter-base)*5);
    }

}

/* ========== min-width:960px ========== */